# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python pytest with sklearn 0.x (without daskml)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/DataCanvasIO/HyperBoard.git#subdirectory=experiment-notebook-widget
        pip install git+https://github.com/DataCanvasIO/HyperBoard.git#subdirectory=experiment-visualization
        pip install -q "featuretools<1.0" "scikit-learn<1.0" "catboost<1.0"
        pip install -q git+https://github.com/DataCanvasIO/Hypernets
        pip install -q -r requirements.txt
        pip install -q pytest-cov==2.4.0  python-coveralls  codacy-coverage
        pip list
    - name: Test with pytest
      run: |
        pytest --cov=hypergbm --durations=30
